[API]
API_STR = /api/version_number
PROJECT_NAME = My Project

[CORS]
CORS_ALLOWED_ORIGINS = http://localhost:3000

[DATABASE]
DATABASE_URL = postgresql://user:password@localhost/dbname

[BLOCKCHAIN]
WEB3_PROVIDER_URL = http://localhost:3000
CONTRACT_ADDRESS = 
PRIVATE_KEY = 

[SECURITY]
SECRET_KEY = your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES = 30
